#header {
	position: relative;
}
.container {
	padding:0px 0px;
	position: relative;
}
.navbar-nav {
    float: left;
    margin: -43px 0 0 252px;
}
.navbar-inverse {
    background: #00A8DF;
    border-color: #00A8DF;
     height: 58px;
}
.navbar-collapse {
	 background-color:#00A8DF;
    position: absolute;
    top: 49px;
    width: 100%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #00A8DF;
}
.container > .navbar-collapse, .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width:768px){
	.navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
	.dropdown-menu > li > a:hover {
		color: #FFF!important;
	}

}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
#search {
	max-width: 100px;
	height: 26px;
	position: absolute;
	line-height: 45px;
	top:10px;
	left:141px;
	z-index: 2222;
	border-left:1px solid;

}

#search input {
	background: url(../images/search.png) no-repeat top left;
	border:none;
	padding-left: 19px;
	position: absolute;
	top:6px;
	left:12px;
	font-size: 10px;
	font-size: 10px;
}
#language {
	width: 100px;
	height: 26px;
	position: absolute;
	line-height: 45px;
	top:10px;
	left:64px;
	z-index: 2222;
	border-left:1px solid;
}
#language select {
	background: url(../images/eng.png) no-repeat top left;
	border:none;
	padding-left: 25px;
	position: absolute;
	top:6px;
	left:12px;
	font-size: 10px;
	
}

#img1 {
 left: 31px;
    position: absolute;
    top:-91px;
}
#img2 {
 left: 25px;
    position: absolute;
    top:-91px;

}
.top-menu {
	position: relative;
	height: 40px;
	background-color: #f7fafb;
}
.top-menu1{
	position: relative;
	height: 40px;
	background-color: red;
	  top: 126px;
}
#sm-logo {
	display: none;
}


@media (max-width: 1200px) {
ul .hiden {
	display: none;
}
}
@media (max-width: 990px) {
ul .hiden1 {
	display: none;
}



}
@media (max-width: 768px) {
	#img1 {
		display: none;
	}
	.navbar-inverse {
		height: 51px;
	}
	.navbar-nav {
		margin-left: 10px;
	}
	ul .hiden {
		display: block;
	}
	ul .hiden1 {
	display: block;
}
	#search {
		left:10px;
	}
#sm-logo{
	display: block;
}
}
#img2 {
	top:12px;
}
.navbar-inverse .navbar-brand {
    height: 67px;
    width: 91px;
}

