* {
	margin: 0px;
	padding: 0px;
}
#header {
	position: relative;
	padding-right: 0px;
}
.container-fluid {
	padding:0px 0px;
}
.container {
	padding:0px 0px;
	position: relative;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
.navbar {
	margin-bottom: 0px !important;
}
.navbar-nav {
    float: left;
    margin: -43px 0 0 252px;
}
.navbar-toggle {
	margin-left: 19px;
	float: left;
}
.navbar-inverse {
    background: #00A8DF;
    border-color: #00A8DF;
     height: 58px;
}
.navbar-collapse {
	background-color:#00A8DF;
    position: absolute;
    top: 49px;
    width: 100%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #00A8DF;
}
.container > .navbar-collapse, .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}
@media (max-width:768px) {
	.navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
	.dropdown-menu > li > a:hover {
		color: #FFF!important;
	}

}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
#search {
	max-width: 100px;
	height: 26px;
	position: absolute;
	line-height: 45px;
	top:10px;
	left:141px;
	z-index: 2222;
	border-left:1px solid;
}

#search input {
	background: url(../images/search.png) no-repeat top left;
	border:none;
	padding-left: 19px;
	position: absolute;
	top:6px;
	left:12px;
	font-size: 10px;
	font-size: 10px;
	line-height: 16px;
}
#language {
	width: 100px;
	height: 26px;
	position: absolute;
	line-height: 45px;
	top:10px;
	left:64px;
	z-index: 2222;
	border-left:1px solid;
}
#language select {
	background: url(../images/eng.png) no-repeat top left;
	border:none;
	padding-left: 25px;
	position: absolute;
	top:6px;
	left:12px;
	font-size: 10px;
}
#img1 {
 	left: 31px;
    position: absolute;
    top:-91px;
}
#img2 {
 	left: 25px;
    position: absolute;
    top:-91px;
}
.top-menu {
	position: relative;
	height: 40px;
	background-color: #f7fafb;
}
.top-menu1{
	position: relative;
	height: 40px;
	background-color: red;
	  top: 126px;
}
#sm-logo {
	display: none;
	background: url("../images/bg-icon.png");
}
@media (max-width: 1200px) {
	ul .hiden {
		display: none;
	}
}
@media (max-width: 990px) {
	ul .hiden1 {
		display: none;
	}
	.footer .hotel ul li, .footer .hotel{
		display: inline;
		padding-left: 12px;
		text-align: center;
	}
}
@media (max-width: 767px) {
	#img1 {
		display: none;
	}
	.navbar-inverse {
		height: 51px;
	}
	.navbar-nav {
		margin-left: -9px;
	}
	ul .hiden {
		display: block;
	}
	ul .hiden1 {
		display: block;
	}
	#search {
		left:10px;
	}
	#sm-logo {
		display: block;
	}
	#booking {
		display: none;
	}
	#btn-book {
		display: block !important;
	}
	.footer .hotel .sub-title h3 {
		text-align: left;
	}
	.footer .hotel .submenu  {
		display: none;
		text-align: left;
	}
	.sm-image {
		position: absolute !important;
		bottom: 98px !important;
	}
}
.footer .hotel .selected .submenu ul li {
	display: block;
	text-align: left;
	padding-top: 4px;
	border-bottom: 1px solid #FFFFFF;
}
.footer .hotel .submenu ul li a,.footer .hotel .selected .submenu ul li a {
		color:#FFFFFF;
}
.footer .hotel .selected .submenu {
	display: block!important;
	position: absolute;
	background: #00A8DF;
	z-index: 1;
	text-align: left;
	left:0px;
	border :1px solid #000000;	
}
.navbar-inverse .navbar-brand {
	height: 81px !important;
    position: absolute;
    top: -14px;
}

/**********************CONTENT************************/
.content {
	position: relative;
	width: 100%;	
}
.slide {
	position: relative;
	width:100%;
	left: :0px;
}
 .main-slide {
	width: 100%;
}
.sm-image {
	width: 100%;
	position: absolute;
    bottom: 66px;
}
#booking {
	position: absolute;
	top:-20px;
	right: 187px;
    width: 313px;
    height: 258px;
    background: #FFFFFF;
}
.booking1 {
	position: absolute;
    top: 9px;
    display: none;
}
#booking h3 {
	padding: 5px 0 0 12px;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}
.go {
	width: 140px;
	height: 34px;
	margin-left: 10px;
	margin-top: 15px;
    padding-left: 10px;
	display: inline-block;
	border:1px solid #e3e7ec;
	border-radius: 3px;
	line-height: 34px;
	columns: #b1b1b1

}
.date {
	display: inline-block;
	padding: 0px;
}
.datepicker {
	padding:0px !important;
}
.input-group-addon {
	width: 79% !important;
	background: #FFFFFF !important;
	border:none;
	width: 100%;
	margin-top: -5px;
	height: 30px;
	line-height: 30;
    text-align: left;
}
 span.going{
	line-height: 34px;
}
#booking .go select {
	border:none;
	margin-left: -5px;
    width: 122px;
}
.btn-booking button {
	background: red;
	width: 70px;
	height: 70px;
}
#btn-book {
	position: absolute;
    right: 5px;
    top: 11px;
    font-weight: bold;
    display: none;
}
#booking .type {
	background: url("../images/go.png") no-repeat 110px 50%;
}

/********************LINK*****************/
.link {
	width: 100%;
    line-height: 42px;
}
.img-link {
	margin: 0px 0px 0px !important;
	text-align: center;
	border-right:2px solid #d7d7d7;
}
.first {
	border-left:2px solid #d7d7d7;
}

/********************FOOTER*****************/
.footer {
	width: 100%;
	font-size: 13px;
	color:#FFFFFF;
	background: #00A8DF;
}
.footer .hotel h3 {
	font-size: 14px;
	color:#FFFFFF;
	font-weight: bold;
}
.footer .hotel ul {
	padding: 0px;
	list-style: none;
}

@media (max-width: 768px) {
	.link {
		display: block;
		text-align: center;
	}
}
.copyright {
	background: none repeat scroll 0 0 #00A8DF;
    border-top: 1px solid #FFFFFF;
    line-height: 38px;
    position: absolute;
    width: 100%;
    font-size: 13px;
}
.paypal img {
	padding-left: 12px;
}
.letter {
	width: 186px;
	background: url("../images/icon-letter.png") no-repeat;
	border: 1px solid #157294;
    border-radius: 2px; 
    height: 37px;
}
.letter p {
	padding-left: 7px;
	padding-left: 52px;
	font-weight: bold;
	margin: 0 0 0px;
}
@media (max-width: 768px) {
	.copyright {
		text-align: center;
	}
	#booking {
		position: absolute;
		right: 5px;
	}
}
@media (max-width: 767px) {
	.booking1 {
	display: block;
	}
}
@media (max-width: 990px) {
	.copyright {
		height: 124px !important;
	}
	.img-link {
		border:none;
	}	
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}
